{% include 'header.html' %}
<main class="container mx-auto py-12">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900 mb-20">About MovieRecomend</h1>
      <div class="flex flex-col sm:flex-row">
        <div class="sm:w-1/2 px-5">
          <p class="leading-relaxed text-lg mb-4">
            MovieRecomend is a website dedicated to helping you discover and enjoy movies. We provide a curated selection of popular films, upcoming releases, and recommendations based on your preferences.
          </p>
          <p class="leading-relaxed text-lg mb-4">
            Our mission is to make finding and watching movies an enjoyable and hassle-free experience. Whether you're looking for a new adventure, a heartwarming drama, or a thrilling action flick, we've got something for everyone.
          </p>
          <p class="leading-relaxed text-lg">
            Join our community of movie lovers and discover your next favorite film!
          </p>
        </div>
        <div class="sm:w-1/2 px-5 mt-4 sm:mt-0">
          <h2 class="text-xl font-medium text-gray-900 mb-4">Our Values:</h2>
          <ul class="list-disc ml-6">
            <li class="mb-2">Passion for Cinema:</li>
            <li class="mb-2">User-Friendliness:</li>
            <li class="mb-2">Community Engagement:</li>
            <li>Continuous Improvement:</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">Connect with Us</h1>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <a href="#" class="block w-full h-full object-cover object-center rounded-lg overflow-hidden">
              <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/500x300">
            </a>
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <a href="#" class="block w-full h-full object-cover object-center rounded-lg overflow-hidden">
              <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/501x301">
            </a>
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <a href="#" class="block w-full h-full object-cover object-center rounded-lg overflow-hidden">
              <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://dummyimage.com/600x360">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% include 'footer.html' %}